.App {
  background: linear-gradient(to right, #16335d, #1f498a);
  height: 100vh;
  overflow: auto;

}
*{
  color: white;
  font-family: "Poppins";
}

.App-logo {
  width: 20%;
  pointer-events: none;
}


.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body{
  display: flex;
  margin-top: 100px;
  height: 100vh;
}

.headline{
  text-align: start;
  margin-left: 5%;
  flex: 1;
}

.headline h2{
  font-weight: normal;
  font-style: italic;
  font-size: 60px;
  line-height: 1.3;
}
.headline b{
  color: yellow;
}

.headline b{
  color: yellow;
}

#caption{
  font-weight: normal;
  font-size: 25px;
  width: 65%;
}

#cek-button{
  color: yellow;
  font-size: 30px;
}

#woman_photo{
  width: 40%;
  object-fit: contain;
}

.App-about{
  height: 100vh;
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.App-about h2{
  font-size: 50px;
  color: yellow;
  margin-bottom: 0; 
}

.App-about p{
  width: 80%;
  font-size: 25px;
  margin-top: 0;
}

.foto-murid{
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.foto-murid img{
  margin: 0;
  height: auto;
  object-fit: contain;
}

.foto-murid-polaroid{
  display: flex;
}

#foto4{
  width: 20%;
}
#foto2 {
  width: 25%;
}

#foto1{
  position: relative;
  width: 60%;
  transform: translateX(-40%);
}

#foto3{
  width: 70%;
  width: 60%;
  transform: translateX(10%);
}

.App-reason{
  margin-top: 10%;
  margin-left: 2%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


.App-reason h2{
  font-size: 50px;
  color: yellow;
  text-align: left;
  margin: 0;
}


.list-reason li{
  text-align: left;
  font-weight: bold;
  font-size: 15pt;
}

.list-reason p{
  font-weight: normal;
  font-size: 15pt;
  width: 80%;
  text-align: left;
  margin: 0;
}


.list-reason{
  width: 60%;
  flex-direction: column;
  display: flex;
}

.foto-pemenang img{
  object-fit: contain; 
  width: 100%;
}


.foto-pemenang{
  width: 40%;
  object-fit: contain; 
}

.App-program{
  margin-top: 5%;
  height: 100vh;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.App-program h2{
  font-size: 50px;
  color: yellow;
}

.list-program{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}


.list-program h2{
  color: yellow;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.list-program p{
  margin: 0;
  font-size: 15px;
}

.kelas-merakit{
  background-color: rgba(255, 255, 255, 0.165);
  margin: 1%;
  padding: 2%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.kelas-animasi{
  background-color: rgba(255, 255, 255, 0.165);
  margin: 1%;
  padding: 2%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.kelas-python{
  background-color: rgba(255, 255, 255, 0.165);
  margin: 1%;
  padding: 2%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-program img{
  margin: 0;
  width: 40%;
}


.list-program p{
  width: 80%;
}


.App-method{
  height: 100vh;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.App-method h2{
  font-size: 50px;
  color: yellow;
}

.kelas-offline img{
  margin: 0;
  width: 60%;
}


.kelas-online img{
  margin: 0;
  width: 80%;
}

.list-method{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}


.list-method h2{
  color: yellow;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.list-method p{
  margin: 0;
  font-size: 15px;
}

.kelas-online{
  background-color: rgba(255, 255, 255, 0.165);
  margin: 1%;
  padding: 2%;
  width: 30%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.kelas-offline{
  background-color: rgba(255, 255, 255, 0.165);
  margin: 1%;
  width: 30%;
  padding: 2%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}