.blog {
    margin: 1%;
    padding-top: 100px;
    text-align: center;
    display: flex;
    align-items: ce;
    flex-direction: column;
}

.blog h1{
    color: yellow;
}

.blog-post {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.blog-post small {
    width: 80%; 
    color: black;
    font-size: 15.pt;
    max-height: 4.5em;
    overflow: hidden;
    line-height: 1.5em; 
    margin: 0 auto;
}
